@import '../vars.css';
.back {
  background: url(../../public/images/bg-card-back.png);
  width: 447px;
  height: 245px;
  border-radius: 5px;
  color: var(--color-white);
  position: relative;
  background-size: cover;
  margin-left: 6rem;
}
.cvc {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 7rem;
  margin-left: 22.6rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  .back {
    width: calc(447px * var(--scale));
    height: calc(245px * var(--scale));
    margin-left: 0;
    transform: translateY(-13rem) translateX(2rem);
  }

  .cvc {
    margin-top: 7.3rem;
  }
}
