.front {
  background: url(../../public/images/bg-card-front.png);
  width: 447px;
  height: 245px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 2.4rem;
}
svg {
  margin-top: 1.8rem;
  margin-left: 2rem;
}
.number {
  margin-top: 3.7rem;
  margin-left: 2rem;
  font-size: 1.7rem;
  letter-spacing: 4px;
}

.container {
  margin: 0 2rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .front {
    width: calc(447px * 0.63);
    height: calc(245px * 0.63);
    margin-bottom: 1rem;
    transform: translateY(13rem) translateX(-2rem);
    z-index: 110;
  }

  svg {
    transform: scale(0.63);
  }
  .number {
    margin-top: 2.3rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}
