body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Space Grotesk, sans-serif;
  font-weight: 500;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
}
